*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #74b9ff;
}

.login-container{
    height: 50vh;
    width: 40vw;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    border-radius: 15px;
}

.login-container > div{
    margin: 10px;
    font-size: 3rem;
    color: #0984e3;
}

.login-container > form{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.login-container > form > input{
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;

}
.login-container > form > label{
    color: #636e72;
}

.login-container > form > .submit{
    height: 10xp;
    width: 50px;
    margin: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    color: #636e72;
    border: none;
    background-color: #dfe6e9;
}

.login-container > form > .submit:hover{
    background-color: #74b9ff;
    color: black;
    cursor: pointer;
}